.whiteSquare {
  height: 50px;
  width: 50px;
  background-color: beige;
  border-color: black;
  border: solid;
}
.blackSquare {
  height: 50px;
  width: 50px;
  background-color: rgb(37, 37, 35);
  border-color: black;
  border: solid;
}
