.checker {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  cursor: pointer;
}

.white {
  background-color: beige;
}

.black {
  border: 2px solid beige;
  background-color: rgb(37, 37, 35);
}

.selected {
  background-color: red;
}

.fa-crown {
  font-size: 20px;
  color: blue;
}
.king {
  text-align: center;
  position: relative;
  top: calc(50% - 11px);
}
